body {
    margin: 20px;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #4cc9f0;
    color: #7209b7;
    border-bottom: 5px groove #f72585;
    border-radius: 20px;
    text-shadow: 2px 1px;
    font-weight: bold;
    
        
    
}



- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

